---
layout: compress
---

{% include head.html %}

{% include header.html %}
<main>

<h3 class="center-tablet normal-font underline">Gallery</h3>
<h1 class="no-margin-top center-tablet">{{ page.title }} </h1>
{{ content }}

<div class="flex-gallery" style="margin-top: 1rem;">
  {% for image in page.gallery %}
  <figure style="display: block; text-align: center;">
    <img src="{{ image.src | relative_url }}" {% if image.alt %}alt="{{ image.alt }}"{% endif %} style="max-width: 24rem; margin-right: 0;" />
    {% if image.cap %}<figcaption>{{ image.cap }} {% if image.cpy %}<small>[{{ image.cpy }}]</small>{% endif %}</figcaption>{% endif %}
  </figure>
  {% endfor %}
</div>

</main>

{% include footer.html %}

</body>
</html>
